
.danger{
    color:#ef4b4e;
}
.gray{
    color:#494949;
}

.profile-header{
    border-bottom:1px solid #5f5d5e;
    margin:0px -10px;
}
.home-header{
    margin:0px -10px;
}
.container{
    display:flex;
    flex-direction: column;
    margin:0;
    color:#494949;
    width:100%;
}
.bigger-view{
    display: none;
}
.middle{
    flex:1;
    border-top:1px solid #d2cdcd;
    border-bottom:1px solid #d2cdcd;
    border-left: 1px solid #ebe9ea;
    border-right: 1px solid #ebe9ea;
    border-radius:4px;
    font-size: 0.9em;
    font-weight: 500;
    margin:0 10px;
}

.footer{
    flex:1;
    padding:20px 10px;
    background-color:#373737;
    margin:-3%;
    color:silver;
    padding:10%;
}
.home-middle{
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    padding: 5px 25px;
    align-content: center;
    padding-bottom: 3em !important;
}
.status-form{
    margin:35px -20px;
    display: flex;
    flex-direction: column;

}
.status-form h3{
    margin:5px 0px;
    font-size: 1.25em;
}
.status-form textarea{
    overflow: hidden;
    resize: none;
    height:125px;
    border: 1px solid #dfdcda;
    border-radius: 5px;
}
.status-form button{
    margin-left: auto;
    width: 100px;
    margin-top:2%;
    margin-bottom: 2%;
    background: #f04c4d;
    color: #fef2f2;
    border:0px;
    border-radius: 2px;
    padding:5px 20px;
    margin-right: 2px;
}
.logo{
    text-decoration:none;
    display:flex;
}
header{
    display:flex;
    justify-content: center;
    margin:25px 2px 25px 2px;
    height:3em;
}

header img{
    height: 2.5em;
    justify-self:end;
}
.ungineering-n-motto{
    background: #ffffff00;
    margin-left:-5px;
}

header h1{
    font-size: 1.5em;
    background-color: #ffffff00;
    color:#494949;
}
header h6{
    font-size: 0.5em;
    background-color: #ffffff00;
    font-weight:lighter;
    color:#363636;
    margin-left: 3px;
}
.navbar{
    display: flex;
    justify-content: space-around;
    margin:1em 0;
}
.navbar a{
    text-decoration: none;
}
.btn{
    /*border-top:2px solid #f8b0b2;
    border-right:1px solid #f58f8f;
    border-bottom:2px solid #f9bbbc;
    border-left:2px solid #f9bbbc;
    box-shadow: 1px 1px #f8b0b2;
    */
    border:1px solid #ef4d4b;
    padding:5px 35px;
    border-radius:3px;
    align-self: start;
    margin-top:-5px;
    font-size: 0.9em;
}
.dashboard  a{
    text-decoration: none;
    color:#494949;
    font-weight: bold;
}
.type-selection{
    display: flex;
    margin:15px 10px;
}

.selected-user-type{
    text-decoration: none;
    color:black;
    font-weight: bold;
}
.new-user{
    margin-left: auto;
}
#home2{
    margin-top:-2%;
}
.user-hr{
    margin-top:5px;
    margin-right:45%;
    border:2px solid #373737;
    border-radius: 3px;
}
.navbar  hr,.edit-profile hr{
    margin-top:1px;
    width:40%;
    border:1px solid #626262;
    border-radius: 3px;
}
.existing-user-form,.new-user-form h3{
    font-size: 1.25em;
    color: #3d3d3d;
}

.existing-user-form{
    border-top:1px solid #d8d5d3;
    border-bottom:1px solid #d8d5d3;
    border-left: 1px solid #e9e8e8;
    border-right:1px solid #dbd6d6;
    background:#f4f4f4;
    padding:30px 25px;
    height:400px;
}
.new-user-form{
    border-top:1px solid #d8d5d3;
    border-bottom:1px solid #d8d5d3;
    border-left: 1px solid #e9e8e8;
    border-right:1px solid #dbd6d6;
    background:#f4f4f4;
    padding:30px 25px;
    height:500px;
}
.each-form-field{
    display: flex;
    flex-direction: column;
    font-size:0.99em;
    color:#343434;
    font-weight:bold;
    margin:15px 0;
}
.chose-profile{
    background-color:#f8f8f8;
    padding:0px 25px;
    margin:0;
}

.select-profile{
    display:flex;
    margin:20px 0px;
    font-size: 0.8em;
    font-weight: bold;
}
.profile{
    margin-left: auto;
    margin-right:50px;
}
.edit-profile a {
    text-decoration: none;
}

#edit-form{
    font-size: 0.85em;
    height: 700px;
    display: none;
}
#edit-form input{
    margin:2px;
}
#edit-form button{
    width: 50%;
}
.status{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 3em;
}
.content{
    display: flex;
    flex-direction: column;
    background:white;
    border:1px solid #d7d1d1;
    border-radius: 4px;
    padding:15px 20px;
    margin:0px -20px 15px -20px;
}
.content-placeholder {
    background: linear-gradient(-45deg, #ef4b4c, #f10f0f2e, #f10f0f2e, #ef4b4c);
    background-size: 400% 400%;
    position: relative;
    height:100px;
    animation: change 3s ease-in-out infinite ;
}
@keyframes change {

    0%{
        background-position: 0% 50%;


    }  
    50%{
        background-position: 100% 50%;

    }
    100%{
        background-position: 0% 50%;
    }

}
.rabbit-hole{
    margin: 0 auto;
    display: none;
    width: 100px;
}
.information h4{
    font-weight:600;
    margin:15px 0px;
    color: #363636;
}
.information p{
    margin-bottom: 30px;
    line-height: 20px;
    font-size: 0.9em;
}
.date-and-time{
    align-self: flex-end;
    font-style: italic;
    font-size: 0.91em;
}
form input{
    padding:10px;
    border-radius:4px;
    border:2px solid #f2b1b0;
    margin:5px 0px;
}

.each-form-field label{
    margin:2px 2px;
}

.each-form-field button{
    padding:10px 2px;
    color:#fef4f4;
    background-color: #f04c4d;
    border:0px solid transparent;
    border-radius:2px;
}

.social img{
    height: 2em;
    margin:15px 0px;
}

footer{
    display: grid;
    grid-template:repeat(1,1fr)/repeat(4,1fr);
    height:11em;
}

footer .social{
    grid-column:1/3;
    grid-row: 1;
}
footer .email-info{
    grid-column:1/-1;
    grid-row:1;
    font-size:.95rem;
    align-self: end;
    justify-self: end;
}
.email-info h5{
    margin-left: auto;
    font-size: 1em;
    float: right;
    justify-self: end;
    color: #dbdbdb;
    font-weight: 400;
}

*{
    font-family:'Open Sans', sans-serif;
    margin:0;
}
html,body{
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
@media (min-width:1024px){

    .container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        height: 100vh;
    }
    .header{
        flex-basis: 30%;
        margin:20px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height:70vh;
    }
    #about-login{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;

    }
    #about-login h1{
        font-size: 1.25em;
    }
    #about-login a{
        font-size: 0.8em;
    }

    .ungineering-n-motto h1:after {
        content:"";
        display: block;
        width:100%;
        height: 2px;
        margin:2px;
        border-bottom:1px solid #dedede;
    }
    .ungineering-n-motto{
        width:140px;
    }
    .ungineering-n-motto h1{
        margin-top:5px;
    }
    .ungineering-n-motto h6{
        font-size: 0.7em;
        text-align: center;
    }
    header img{
        height:65px;
    }
    .middle{
        border:0px;
        margin:0px;
        background: #f4f4f4;
        padding:5% 0;
    }
    .existing-user-form,.new-user-form{
        border:0px;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin:0 10%;
        padding-top:0;
        padding-bottom:0;
    }
    .footer{
        flex-basis: 100%;
        margin:0%;
        padding:30px;
    }
    footer{
        height:60px;
        align-self: flex-end;
    }
    .bigger-view{
        display: block;
    }
    .type-selection{
        display: none;
    }
    .existing-user-form > h3,.new-user-form > h3{
        display: none;
    }
    form input{
        box-shadow: 1px 1px #dcdadd;
        border:0px;
        border-radius:2px;
    }
    .each-form-field{
        display: grid;
        grid-template-columns: auto 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap:1em;
    }
    .each-form-field label{
        grid-column:1/3;
        align-self: center;
        justify-content: center;
        font-size:0.91em;
        font-weight: 400;
    }
    .each-form-field input{
        grid-column:3/-2;
    }
    .each-form-field button{
        grid-column: 3/-2;
    }
    .new-existing-choice{
        display: grid;
        grid-template-columns: auto 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap:1em;
    }
    .new-existing-choice a{
        grid-column:3/-2;
        text-align: center;
    }
    .profile-header,.home-header{
        display: flex;
        flex-direction: row;
        flex-basis: 100%;
        border:0px;
        padding:0px 5%;
        height: fit-content;
    }
    .navbar{
        align-self: flex-end;
        margin-left: auto;
        width:300px;
        justify-content: space-evenly;
    }
    #edit-profile-container{
        height: auto;
    }
    .select-profile{
        display: none;
    }
    .dashboard hr{
        display: none;
    }
    .chose-profile{
        display: flex;
        flex: 1 1 100%;
        flex-direction: row;
        background: transparent;
        padding:0 3%;
        margin-bottom: 100px;
    }
    .chose-profile h1{
        color:#737174;
        margin:20px 0;
    }
    #edit-form{
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
        margin-right:40px;
        background:#f8f8f8;
        justify-content: center;
        position: sticky;
        top: -50px;
    }
    .my-status{
        flex-basis:50%;
        background: #f8f8f8;
        padding:50px;
    }
    .my-content{
        margin:10px 0;
    }
    .for-positioning{
        grid-template-columns:1fr 2fr 2fr 2fr 2fr 2fr 1fr;
    }
    .for-positioning label{
        grid-column:2/3
    }
    #form-heading{
        display: grid;
        grid-template-columns:1fr 2fr 2fr 2fr 2fr 2fr 1fr;
        grid-gap: 1em;
    }
    #form-heading h1{
        grid-column: 3/-2;
    }
    .my-information{
        order:2;
    }
    .my-information p{
        margin:20px
    }
    .my-date-and-time{
        order:1;
        align-self: flex-start;
        padding: 20px;
        padding-bottom: 0px;
        font-weight: 600;
    }
    #danger-big{
        color:#ef4b4e;
    }
    .status-form{
        background-image: linear-gradient(to right, #BFBDBF 33%, rgba(255,255,255,0) 0%);
        background-position: bottom;
        background-size: 15px 1px;
        background-repeat: repeat-x;
    }
    .home-middle{
        padding:0 20%;
        flex-grow: 1;
    }
    .status-form h3{
        color:#737174;
        font-size: 2em;
        margin:20px 0;
    }
    .home-content{
        border:0px solid;
        border-top:2px solid  #eaeaea;
        box-shadow:0px 3px #e2e0e1;
    }
    #home2{
        margin-top:5%;
    }
}

@media (max-width:736px){
    .each-form-field{
        grid-column-gap: 2em;
    }
    .each-form-field input ,.each-form-field button{
        grid-column: 3/-1;
    }
    .new-existing-choice a{
        grid-column: 3/-1;
        font-size:0.7em;
    }
    .new-existing-choice{
        grid-gap:2em;
    }

}
